<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="/static/css/hnote/add-edit.css" rel="stylesheet">
<script src="static/js/hnote/edit_nt.js"></script>

<input type="hidden" class="HN_NoteAddPage" th:value="${category.sId}"/>
<input type="hidden" class="HN_NID" th:value="${entity.sId}"/>
<input type="hidden" class="HN_NVer" th:value="${entity.iVersion}"/>
<input type="hidden" class="HN_NCa" th:value="${entity.sCategoryId}"/>
<div class="bjui-pageHeader HN_NOTE_EDIT hf-hide">
  <div class="hf-note-w hf-l">
    <label class="hf-ph-label">所属分类：</label>
    <input type="text" class="HF_CAT_INP" data-toggle="selectztree" size="33" data-tree="#HF_CAT_TREE" th:value="${category.sCategoryName}" readonly>
    <ul id="HF_CAT_TREE" class="ztree hide" data-toggle="ztree" data-expand-all="true" data-on-click="hframeNoteEditcheckCategory">
      <li class="HF_Cg_menu" th:each="category:${pCategorys}" th:attr="data-id=${category.sId},data-cate=true" th:text="${category.sCategoryName}" data-pid="0" ></li>
      <li class="HF_Cg_menu" th:each="category:${sCategorys}" th:attr="data-id=${category.sId},data-pid=${category.sParentId},data-cate=true" th:text="${category.sCategoryName}"></li>
    </ul>


    <button type="submit" class="btn-default HF_CA hf-r hf-ml-10px" th:attr="data-nid=${entity.sId}">取消</button>
    <button type="submit" class="btn-default HF_CN hf-r hf-ml-10px">清空</button>
    <button type="submit" class="btn-green HF_AN hf-r hf-note-an">保存</button>
  </div>
</div>

<div class="bjui-pageContent tableContent HN_NOTE_EDIT hf-hide">
  <div class="hf-top-bar">
    <div class="hf-l">
      <label class="hf-ph-label">笔记名称：</label>
      <input type="text" class="form-control hf-l HF_N_Name" size="33"  th:value="${entity.sNoteTitle}">
    </div>
    <div class="hf-r">
      <label class="hf-ph-label">笔记标签：</label>
      <input type="text" class="form-control hf-l HF_N_Tag" size="32.5"  th:value="${entity.sNoteTag}">
    </div>
  </div>
  <div class="hf-top-bar hf-bot-hr">
    <div class="hf-l">
      <label class="hf-ph-label">可见类型：</label>
      <select data-toggle="selectpicker" data-width="330" class="HF_N_Type">
        <option th:each="type:${showTypes}" th:value="${type.sDictValue}" th:selected="${type.sDictValue == #strings.toString(entity.iShowType)}" th:text="${type.sDictName}"></option>
      </select>&nbsp;
    </div>
    <div class="hf-r">
      <label class="hf-ph-label hf-note-ll">排序：</label>
      <input type="text" class="form-control hf-l HF_N_Order" size="32.5"  th:value="${entity.iOrder}">
    </div>
  </div>
  <div class="hf-note-w2">
    <textarea data-toggle="kindeditor" id="HF_N_Content" name="HF_N_Content" class="HF_N_Content" rows="30" cols="82" th:text="${entity.sNoteContent}"></textarea>
  </div>
</div>
