.hf-nt-list{width: 300px;overflow: auto;}
.hf-nt-bc{min-width: 1000px;}
.hf-nt-cont{min-width: 750px;width: calc(100% - 310px);margin-left: 10px;}
.hf-nt-add-btn{margin-left: 188px;}
.hf-nt-con{width: 795px;height: 100%;margin: 0 auto;}
