
/*hframe hnote kindeditor 编辑器样式*/

.ke-content{
  font-family: 'Microsoft YaHei','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif !important;
}

.ke-content p{
  font-size: 15px;
  margin: 0 0 0px;
  line-height: 24px;
}
.ke-content h1,h2,h3,h4{
  margin-top: 15px;
  font-weight: bold;
}
.ke-content h1{
  font-size: 24px;
  margin-top: 18px;
}
.ke-content h2{
  font-size: 22px;
}
.ke-content h3{
  font-size: 20px;
}
.ke-content h4{
  font-size: 18px;
}
.ke-content img{
  max-width: 100%;
}
.ke-content hr{
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #dddddd;
}
.ke-content pre{/*代码样式*/
  border: 0;
  border-radius: 0;
  font: 12px/18px Consolas,monospace,serif;
  -moz-tab-size: 4;
  /* background-color: #f5f5f5; */
  background-color: #f5f5f5;
  padding: 9px;
  margin-left: 20px;
}

.ke-content ul{
  margin: 0px 20px;
  padding: 5px;
  list-style: inside;
}
.ke-content ul li{
  margin: 8px 0;
  font-size: 14px;
}
